chabcav-api/chabcav-api/obj/
chabcav-api/.vs/chabcav-api/FileContentIndex/08bca3aa-3f7d-414d-95f7-530ba53d7b0c.vsidx
chabcav-api/.vs/chabcav-api/FileContentIndex/33a6f0c2-e41a-4fbc-b4f4-42192d616ade.vsidx
chabcav-api/.vs/chabcav-api/v17/.suo
chabcav-api/.vs/chabcav-api/v17/DocumentLayout.backup.json
chabcav-api/.vs/chabcav-api/v17/DocumentLayout.json
chabcav-api/chabcav-api/chabcav-api.csproj.user
chabcav-api/chabcav-api/bin/Debug/net8.0/appsettings.Development.json
chabcav-api/chabcav-api/bin/Debug/net8.0/appsettings.json
chabcav-api/chabcav-api/bin/Debug/net8.0/chabcav-api.deps.json
chabcav-api/chabcav-api/bin/Debug/net8.0/chabcav-api.dll
chabcav-api/chabcav-api/bin/Debug/net8.0/chabcav-api.exe
chabcav-api/chabcav-api/bin/Debug/net8.0/chabcav-api.pdb
chabcav-api/chabcav-api/bin/Debug/net8.0/chabcav-api.runtimeconfig.json
chabcav-api/chabcav-api/bin/Debug/net8.0/Microsoft.OpenApi.dll
chabcav-api/chabcav-api/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
chabcav-api/chabcav-api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
chabcav-api/chabcav-api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
chabcav-api/chabcav-api/Controllers/WeatherForecastController.cs
chabcav-api/chabcav-api/Properties/launchSettings.json
